<ng-container [ngSwitch]="type">
  <app-widget-automation-content
    *ngSwitchCase="'automation'"
    class="flex-grow-1"
  ></app-widget-automation-content>
  <app-widget-data-history
    *ngSwitchCase="'widget-data-history'"
    class="flex-grow-1"
  ></app-widget-data-history>

  <app-widget-form-history
    *ngSwitchCase="'widget-form-history'"
    class="flex-grow-1"
  ></app-widget-form-history>

  <!-- from this component I would like to receive the template that should be used -->
  <app-widget-default-content
    *ngSwitchDefault
    class="flex-grow-1"
  ></app-widget-default-content>
</ng-container>
