<div class="flex-grow-1 d-flex flex-column m-2 border shadow rounded">
  <ng-container [ngSwitch]="type">
    <div *ngSwitchCase="'automation'" class="p-2 border-bottom">
      <strong>Data Remediation</strong>
    </div>
    <div *ngSwitchCase="'widget-data-history'" class="p-2 border-bottom">
      <strong>Data History</strong>
    </div>
  </ng-container>

  <ng-container [ngSwitch]="type">
    <app-widget-automation-content
      *ngSwitchCase="'automation'"
      class="flex-grow-1"
    ></app-widget-automation-content>
    <app-widget-data-history
      *ngSwitchCase="'widget-data-history'"
      class="flex-grow-1"
    ></app-widget-data-history>
    <app-widget-default-content
      *ngSwitchDefault
      class="flex-grow-1"
    ></app-widget-default-content>
  </ng-container>
</div>
