<div class="d3-data-history border border-danger w-100 position-relative">
  <div>
    Stuff

    <div class="btn-group">
      <button class="btn btn-secondary" (click)="fitToScreen()">
        fit screen
      </button>
    </div>

    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="toggleInactiveHours"
        [(ngModel)]="hideInactiveHours"
        (change)="onToggleInactiveHours()"
        checked
      />
      <label class="form-check-label" for="toggleInactiveHours"
        >Hide inactive hours</label
      >
    </div>
  </div>
  <svg #d3svg style="width: 100%; height: 400px; display: block"></svg>
</div>
