<div class="d3-data-history border rounded w-100 position-relative">
  <div>
    <div class="d-flex gap-2 align-items-center p-2 border-bottom">
      <div class="btn-group">
        <button class="btn btn-primary btn-sm" (click)="fitToScreen()">
          Fit to screen
        </button>
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="toggleInactiveHours"
          [(ngModel)]="hideInactiveHours"
          (change)="onToggleInactiveHours()"
          checked
        />
        <label class="form-check-label" for="toggleInactiveHours"
          >Hide inactive hours</label
        >
      </div>
      <div class="form-check form-switch">
        <input
          class="form-check-input"
          type="checkbox"
          role="switch"
          id="toggleInitialValues"
          [(ngModel)]="hideInitialValues"
          (change)="onHideInitialValues()"
        />
        <label class="form-check-label" for="toggleInitialValues"
          >Hide initial values</label
        >
      </div>
    </div>
  </div>
  <svg #d3svg style="width: 100%; height: 400px; display: block"></svg>
</div>
