<div class="w-100 flex-grow-1 d-flex flex-column">
  <div class="w-100 pt-2 px-2">
    <select
      class="form-select w-auto d-inline-block"
      (change)="onDatasetChange($event)"
    >
      <option *ngFor="let ds of datasets" [selected]="ds === selectedDataset">
        {{ ds.label }}
      </option>
    </select>
    <span class="ms-2">{{ fakeData.length }} changes</span>
  </div>
  <div class="flex-grow-1 w-100 d-flex flex-column">
    <div class="w-100 p-2 d-flex align-items-center">
      <div class="border w-100 flex-grow-1 p-2">
        <div
          class="controlls d-flex justify-content-start align-items-center gap-2"
        >
          <div>
            <select
              class="form-select form-select-sm"
              aria-label="select timeframe"
              [(ngModel)]="timeframe"
              (change)="onTimeframeChange()"
            >
              <option value="daily">Day</option>
              <option value="week">Week</option>
              <option value="month">Month</option>
              <option value="year">Year</option>
              <option value="all">All the time</option>
            </select>
          </div>
          <div>
            <div class="btn-group" role="group" aria-label="Basic example">
              <button
                type="button"
                class="btn btn-sm btn-link text-decoration-none"
                (click)="onPrev()"
              >
                Prev
              </button>
              <button
                type="button"
                class="btn btn-sm btn-link text-decoration-none"
                (click)="onNext()"
              >
                Next
              </button>
            </div>
          </div>
        </div>
        <!-- D3 Timeline Visualization -->
        <div id="d3-timeline" style="width: 100%"></div>
      </div>
    </div>
    <div class="w-100 flex-grow-1 d-flex p-2">
      <!-- [groupDisplayType]="'groupRows'" -->
      <ag-grid-angular
        #agGrid
        class="ag-theme-alpine w-100 flex-grow-1"
        [rowData]="fakeData"
        [columnDefs]="columnDefs"
        [groupDisplayType]="'singleColumn'"
        [autoGroupColumnDef]="autoGroupColumnDef"
        groupDisplayPanel="always"
        [defaultColDef]="{
          resizable: true,
          sortable: true,
          filter: true,
          autoHeight: true,
        }"
        (gridReady)="onGridReady($event)"
      ></ag-grid-angular>
    </div>
  </div>
</div>
