// .breadcrumb {
//   font-size: 0.875rem;
//   background: transparent;
//   padding: 0;
// }

// .breadcrumb-item {
//   color: var(--bs-secondary);
// }

// .breadcrumb-item.active {
//   color: var(--bs-body-color);
//   font-weight: 500;
// }

// .breadcrumb-btn {
//   color: inherit !important;
//   font-size: inherit;
//   line-height: inherit;
// }

// .breadcrumb-btn:hover {
//   color: var(--bs-primary) !important;
//   text-decoration: underline !important;
// }

// .breadcrumb-item + .breadcrumb-item::before {
//   content: var(--bs-breadcrumb-divider, "/");
//   color: var(--bs-secondary);
// }
