.configuration-grid-container {
  height: 100%;
  display: flex;
  flex-direction: column;

  .grid-toolbar {
    flex-shrink: 0;
  }

  .grid-wrapper {
    flex: 1;
    // min-height: 500px;

    ag-grid-angular {
      width: 100%;
      height: 100%;
    }

    ::ng-deep .ag-cell.text-wrap {
      white-space: normal !important;
      line-height: 1.5;
      padding-top: 8px;
      padding-bottom: 8px;
    }

    ::ng-deep .ag-row-group {
      font-weight: 600;
    }

    ::ng-deep a.text-primary {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    ::ng-deep .ag-row.bg-info-subtle {
      background-color: var(--bs-info-bg-subtle) !important;
    }

    ::ng-deep .ag-row.bg-danger {
      background-color: var(--bs-danger-bg-subtle) !important;
    }
  }
}

.input-group-text {
  background-color: var(--bs-light);
  border-right: 0;
}

.form-control {
  border-left: 0;

  &:focus {
    border-color: var(--bs-border-color);
    box-shadow: none;
  }
}
