<div class="d-flex flex-grow-1 w-100 overflow-hidden">
  <div class="w-50 flex-grow-1 d-flex flex-column border-end">
    <app-jsoneditor-wrapper [scenarios]="scenarios"></app-jsoneditor-wrapper>
  </div>
  <div class="w-50 flex-grow-1 d-flex flex-column overflow-hidden">
    <div class="flex-grow-1 d-flex flex-column overflow-y-auto">
      <div class="px-2">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque nisi
          doloribus non earum voluptatem voluptates rerum adipisci sint libero
          ullam quisquam porro, eaque temporibus, iusto minima quo perferendis
          quod vitae?
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque nisi
          doloribus non earum voluptatem voluptates rerum adipisci sint libero
          ullam quisquam porro, eaque temporibus, iusto minima quo perferendis
          quod vitae?
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque nisi
          doloribus non earum voluptatem voluptates rerum adipisci sint libero
          ullam quisquam porro, eaque temporibus, iusto minima quo perferendis
          quod vitae?
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque nisi
          doloribus non earum voluptatem voluptates rerum adipisci sint libero
          ullam quisquam porro, eaque temporibus, iusto minima quo perferendis
          quod vitae?
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque nisi
          doloribus non earum voluptatem voluptates rerum adipisci sint libero
          ullam quisquam porro, eaque temporibus, iusto minima quo perferendis
          quod vitae?
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque nisi
          doloribus non earum voluptatem voluptates rerum adipisci sint libero
          ullam quisquam porro, eaque temporibus, iusto minima quo perferendis
          quod vitae?
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque nisi
          doloribus non earum voluptatem voluptates rerum adipisci sint libero
          ullam quisquam porro, eaque temporibus, iusto minima quo perferendis
          quod vitae?
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque nisi
          doloribus non earum voluptatem voluptates rerum adipisci sint libero
          ullam quisquam porro, eaque temporibus, iusto minima quo perferendis
          quod vitae?
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque nisi
          doloribus non earum voluptatem voluptates rerum adipisci sint libero
          ullam quisquam porro, eaque temporibus, iusto minima quo perferendis
          quod vitae?
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque nisi
          doloribus non earum voluptatem voluptates rerum adipisci sint libero
          ullam quisquam porro, eaque temporibus, iusto minima quo perferendis
          quod vitae?
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque nisi
          doloribus non earum voluptatem voluptates rerum adipisci sint libero
          ullam quisquam porro, eaque temporibus, iusto minima quo perferendis
          quod vitae?
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque nisi
          doloribus non earum voluptatem voluptates rerum adipisci sint libero
          ullam quisquam porro, eaque temporibus, iusto minima quo perferendis
          quod vitae?
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque nisi
          doloribus non earum voluptatem voluptates rerum adipisci sint libero
          ullam quisquam porro, eaque temporibus, iusto minima quo perferendis
          quod vitae?
        </p>
      </div>
      <app-jsoneditor-wrapper
        [scenarios]="scenarios"
        [minHeight]="50"
      ></app-jsoneditor-wrapper>
      <div class="px-2">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque nisi
          doloribus non earum voluptatem voluptates rerum adipisci sint libero
          ullam quisquam porro, eaque temporibus, iusto minima quo perferendis
          quod vitae?
        </p>
      </div>
      <app-jsoneditor-wrapper [scenarios]="scenarios"></app-jsoneditor-wrapper>
    </div>
  </div>
</div>
