$main: $primary;
$main: hsl(0, 0%, 100%);
$main: hsl(0, 0%, 0%);

// Primary color shades and tints
$shadesFill: (
  0%: $main,
  1%: shade-color($main, 1%),
  5%: shade-color($main, 5%),
  10%: shade-color($main, 10%),
  15%: shade-color($main, 15%),
  20%: shade-color($main, 20%),
  25%: shade-color($main, 25%),
  30%: shade-color($main, 30%),
  35%: shade-color($main, 35%),
  40%: shade-color($main, 40%),
  50%: shade-color($main, 50%),
  55%: shade-color($main, 55%),
  60%: shade-color($main, 60%),
  65%: shade-color($main, 65%),
  70%: shade-color($main, 70%),
  75%: shade-color($main, 75%),
  80%: shade-color($main, 80%),
);

$tintsFill: (
  0%: $main,
  1%: tint-color($main, 1%),
  5%: tint-color($main, 5%),
  10%: tint-color($main, 10%),
  15%: tint-color($main, 15%),
  20%: tint-color($main, 20%),
  25%: tint-color($main, 25%),
  30%: tint-color($main, 30%),
  35%: tint-color($main, 35%),
  40%: tint-color($main, 40%),
  50%: tint-color($main, 50%),
  55%: tint-color($main, 55%),
  60%: tint-color($main, 60%),
  65%: tint-color($main, 65%),
  70%: tint-color($main, 70%),
  75%: tint-color($main, 75%),
  80%: tint-color($main, 80%),
);

$theme: "white";
$theme: "primary";
$theme: "dark";

@if $theme == "white" {
  $shades: $shadesFill !global;
  $treeBg: map-get($shades, 0%) !global;
  // Treeline connector colors
  $normalStroke: map-get($shades, 15%) !global;
  $activeStroke: map-get($shades, 50%) !global;

  // item normal state colors
  $itemColor: color-contrast(map-get($shades, 0%)) !global;
  $itemBgColor: map-get($shades, 0%) !global;

  // ul item with active state inside colors
  $ulItemWithActiveColor: color-contrast(map-get($shades, 0%)) !global;
  $ulItemWithActiveBgColor: map-get($shades, 5%) !global;

  // li item with active state inside colors
  $liItemWithActiveColor: color-contrast(map-get($shades, 10%)) !global;
  $liItemWithActiveBgColor: map-get($shades, 10%) !global;

  // li item expanded but no active inside colors
  $liItemExpandedColor: color-contrast(map-get($shades, 0%)) !global;
  $liItemExpandedBgColor: map-get($shades, 5%) !global;

  // level 0 item has children active colors
  $level0ItemHasChildrenActiveColor: color-contrast(
    map-get($shades, 20%)
  ) !global;
  $level0ItemHasChildrenActiveBgColor: map-get($shades, 20%) !global;

  // level 0 item active colors
  $l0itemActiveColor: color-contrast(map-get($shades, 20%)) !global;
  $l0itemActiveBgColor: map-get($shades, 20%) !global;

  // item hover colors
  $itemHoverColor: color-contrast(map-get($shades, 5%)) !global;
  $itemHoverBgColor: map-get($shades, 5%) !global;

  // Active pill L1 colors
  $l1ActiveBorderColor: map-get($shades, 50%) !global;
  $l1ActiveBg: map-get($shades, 0%) !global;
  $l1ActiveColor: color-contrast($l1ActiveBg) !global;

  // Treeline connector colors
  $itemHasTreeNotActiveHoverColor: color-contrast(
    map-get($shades, 15%)
  ) !global;
  $itemHasTreeNotActiveHoverBgColor: map-get($shades, 15%) !global;

  // Helper function to replace # with %23 for Data URIs
  $btnColor: color-contrast(map-get($shades, 5%)) !global;
  $btnBgHover: map-get($shades, 5%) !global;
  $btnHoverColor: shade-color($btnColor, 15%) !global;
  $btnActiveColor: shade-color($btnColor, 15%) !global;
} @else if $theme == "dark" {
  $shades: $tintsFill !global;
  $treeBg: map-get($shades, 0%) !global;
  // Treeline connector colors
  $normalStroke: map-get($shades, 15%) !global;
  $activeStroke: map-get($shades, 50%) !global;

  // item normal state colors
  $itemColor: color-contrast(map-get($shades, 0%)) !global;
  $itemBgColor: map-get($shades, 0%) !global;

  // ul item with active state inside colors
  $ulItemWithActiveColor: color-contrast(map-get($shades, 0%)) !global;
  $ulItemWithActiveBgColor: map-get($shades, 5%) !global;

  // li item with active state inside colors
  $liItemWithActiveColor: color-contrast(map-get($shades, 10%)) !global;
  $liItemWithActiveBgColor: map-get($shades, 10%) !global;

  // li item expanded but no active inside colors
  $liItemExpandedColor: color-contrast(map-get($shades, 0%)) !global;
  $liItemExpandedBgColor: map-get($shades, 5%) !global;

  // level 0 item has children active colors
  $level0ItemHasChildrenActiveColor: color-contrast(
    map-get($shades, 20%)
  ) !global;
  $level0ItemHasChildrenActiveBgColor: map-get($shades, 20%) !global;

  // level 0 item active colors
  $l0itemActiveColor: color-contrast(map-get($shades, 20%)) !global;
  $l0itemActiveBgColor: map-get($shades, 20%) !global;

  // item hover colors
  $itemHoverColor: color-contrast(map-get($shades, 5%)) !global;
  $itemHoverBgColor: map-get($shades, 5%) !global;

  // Active pill L1 colors
  $l1ActiveBorderColor: map-get($shades, 50%) !global;
  $l1ActiveBg: map-get($shades, 0%) !global;
  $l1ActiveColor: color-contrast($l1ActiveBg) !global;

  // Treeline connector colors
  $itemHasTreeNotActiveHoverColor: color-contrast(
    map-get($shades, 15%)
  ) !global;
  $itemHasTreeNotActiveHoverBgColor: map-get($shades, 15%) !global;

  // Helper function to replace # with %23 for Data URIs
  $btnColor: color-contrast(map-get($shades, 5%)) !global;
  $btnBgHover: map-get($shades, 5%) !global;
  $btnHoverColor: shade-color($btnColor, 15%) !global;
  $btnActiveColor: shade-color($btnColor, 15%) !global;
} @else if $theme == "primary" {
  $shades: $shadesFill !global;
  $treeBg: map-get($shades, 0%) !global;
  // Treeline connector colors
  $normalStroke: map-get($shades, 15%) !global;
  $activeStroke: map-get($shades, 50%) !global;

  // item normal state colors
  $itemColor: color-contrast(map-get($shades, 0%)) !global;
  $itemBgColor: map-get($shades, 0%) !global;

  // ul item with active state inside colors
  $ulItemWithActiveColor: color-contrast(map-get($shades, 0%)) !global;
  $ulItemWithActiveBgColor: map-get($shades, 5%) !global;

  // li item with active state inside colors
  $liItemWithActiveColor: color-contrast(map-get($shades, 10%)) !global;
  $liItemWithActiveBgColor: map-get($shades, 10%) !global;

  // li item expanded but no active inside colors
  $liItemExpandedColor: color-contrast(map-get($shades, 0%)) !global;
  $liItemExpandedBgColor: map-get($shades, 5%) !global;

  // level 0 item has children active colors
  $level0ItemHasChildrenActiveColor: color-contrast(
    map-get($shades, 20%)
  ) !global;
  $level0ItemHasChildrenActiveBgColor: map-get($shades, 20%) !global;

  // level 0 item active colors
  $l0itemActiveColor: color-contrast(map-get($shades, 20%)) !global;
  $l0itemActiveBgColor: map-get($shades, 20%) !global;

  // item hover colors
  $itemHoverColor: color-contrast(map-get($shades, 5%)) !global;
  $itemHoverBgColor: map-get($shades, 5%) !global;

  // Active pill L1 colors
  $l1ActiveBorderColor: map-get($shades, 50%) !global;
  $l1ActiveBg: map-get($shades, 0%) !global;
  $l1ActiveColor: color-contrast($l1ActiveBg) !global;

  // Treeline connector colors
  $itemHasTreeNotActiveHoverColor: color-contrast(
    map-get($shades, 15%)
  ) !global;
  $itemHasTreeNotActiveHoverBgColor: map-get($shades, 15%) !global;

  // Helper function to replace # with %23 for Data URIs
  $btnColor: color-contrast(map-get($shades, 5%)) !global;
  $btnBgHover: map-get($shades, 5%) !global;
  $btnHoverColor: shade-color($btnColor, 15%) !global;
  $btnActiveColor: shade-color($btnColor, 15%) !global;
} @else {
  @error "Unsupported theme: #{$theme}";
}

@function svg-url-color($color) {
  $color-str: inspect($color);
  @if str-index($color-str, "#") == 1 {
    @return "%23" + str-slice($color-str, 2);
  }
  @return $color;
}

@mixin tree-connector(
  $curve-color: red,
  $top-line-color: blue,
  $full-line-color: pink,
  $curve-position: "below"
) {
  $width: 12px;
  $height: 40px;
  $width: 15px;
  $height: 50px;
  $curve: svg-url-color($curve-color);
  $top: svg-url-color($top-line-color);
  $full: svg-url-color($full-line-color);

  // If full-line-color is 'none', we omit the stroke-width or set opacity to 0
  // $full-stroke: if($full-line-color == none, 0, 1);
  $stroke: 2;

  @if $curve-position == "above" {
    // Curve above
    background-image: url("data:image/svg+xml,%3Csvg width='#{$width}' height='#{$height}' viewBox='0 0 12 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 0L0.999998 40' stroke='#{$full}' stroke-width='#{$stroke}'/%3E%3Cpath d='M1.02126 9.86403C1.02126 11.1814 1.28073 12.4858 1.78486 13.7029C2.28898 14.92 3.0279 16.0258 3.95941 16.9574C4.89092 17.8889 5.99678 18.6278 7.21385 19.1319C8.43093 19.636 9.73538 19.8955 11.0527 19.8955' stroke='#{$curve}' stroke-width='#{$stroke}'/%3E%3Cpath d='M1 0L1 10' stroke='#{$top}' stroke-width='#{$stroke}'/%3E%3C/svg%3E");
  }

  @if $curve-position == "below" {
    // Curve below
    background-image: url("data:image/svg+xml,%3Csvg width='#{$width}' height='#{$height}' viewBox='0 0 12 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.02126 9.86403C1.02126 11.1814 1.28073 12.4858 1.78486 13.7029C2.28898 14.92 3.0279 16.0258 3.95941 16.9574C4.89092 17.8889 5.99678 18.6278 7.21385 19.1319C8.43093 19.636 9.73538 19.8955 11.0527 19.8955' stroke='#{$curve}' stroke-width='#{$stroke}'/%3E%3Cpath d='M1 0L0.999998 40' stroke='#{$full}' stroke-width='#{$stroke}'/%3E%3Cpath d='M1 0L1 10' stroke='#{$top}' stroke-width='#{$stroke}'/%3E%3C/svg%3E");
  }
  background-repeat: no-repeat;
}

.menu-item {
  color: $itemColor;
  background-color: $itemBgColor;
  &[disabled] {
    cursor: not-allowed;
  }
}

.ul-has-activeItem {
  .menu-item {
    color: $ulItemWithActiveColor;
    background-color: $ulItemWithActiveBgColor;
  }
}

.li-has-expanded-ul {
  .menu-item.item-has-children-active {
    color: $liItemWithActiveColor;
    background-color: $liItemWithActiveBgColor;
  }
  .menu-item {
    color: $liItemExpandedColor;
    background-color: $liItemExpandedBgColor;
  }
}

.level-0 .item-has-children-active {
  color: $level0ItemHasChildrenActiveColor;
  background-color: $level0ItemHasChildrenActiveBgColor;
}

.menu-item.activeL0 {
  color: $l0itemActiveColor;
  background-color: $l0itemActiveBgColor;
}

.li-has-tree-inside {
  border-top: 1px solid map-get($shades, 40%) !important;
  border-bottom: 1px solid map-get($shades, 40%) !important;
}

.menu-item {
  &:hover {
    color: $itemHoverColor;
    background-color: $itemHoverBgColor;
  }
  &:has(.tree-notActive) {
    &:hover {
      color: $itemHasTreeNotActiveHoverColor;
      background-color: $itemHasTreeNotActiveHoverBgColor;
    }
  }
}
.nested-level {
  li button:before {
    content: "";
    position: absolute;
    left: 5px;
    top: 0;
    width: 40px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: calc(var(--left-indent) - 14px) -5px;
  }
  li button.menu-item {
    &:before {
      @include tree-connector($normalStroke, $normalStroke, $normalStroke);
    }
    &.active:before {
      @include tree-connector(
        $activeStroke,
        $activeStroke,
        $normalStroke,
        "above"
      );
    }
  }
  li.li-has-open-sibling-after {
    button.menu-item:before {
      @include tree-connector($normalStroke, $activeStroke, $activeStroke);
    }
  }
  li:last-child {
    button.menu-item:before {
      @include tree-connector($normalStroke, $normalStroke, transparent);
    }
    button.menu-item.active:before {
      @include tree-connector($activeStroke, $activeStroke, transparent);
    }
  }
}

.tree-notActive {
  border: 2px solid transparent;
}
.tree-active {
  background: $l1ActiveBg;
  border: 2px solid $l1ActiveBorderColor;
}

.tree-bg {
  background-color: $treeBg;
}

.btn-outline-on-tree {
  @include button-variant(
    // color-contrast($primary),
    transparent,
    // border
    transparent,
    // color
    $btnColor,
    // hover bg
    $btnBgHover,
    // hover-border-background
    $btnBgHover,
    // hover-border
    $btnColor,
    // hover-color
    $btnHoverColor,
    // active-background
    $btnActiveColor,
    // active-border
    $primary // active-color
  );
}
