@use "ngx-diff/styles/default-theme";
@import "../node_modules/jsoneditor/dist/jsoneditor.min.css";

// Custom Offcanvas width for breach list
.offcanvas-90 {
  width: 90vw !important;
  max-width: 90vw !important;
}
@import "../node_modules/bootstrap/scss/mixins/banner";
@include bsBanner("");

@import "../node_modules/ag-grid-community/styles/ag-theme-alpine.css";
// AG Grid styles
@import "../node_modules/ag-grid-community/styles/ag-theme-alpine.css";

// scss-docs-start import-stack
// Configuration
@import "../node_modules/bootstrap/scss/functions";
@import "variables";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/utilities";

// Layout & components
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/forms";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/transitions";
@import "../node_modules/bootstrap/scss/dropdown";
@import "../node_modules/bootstrap/scss/button-group";
@import "../node_modules/bootstrap/scss/nav";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/card";
@import "../node_modules/bootstrap/scss/accordion";
@import "../node_modules/bootstrap/scss/breadcrumb";
@import "../node_modules/bootstrap/scss/pagination";
@import "../node_modules/bootstrap/scss/badge";
@import "../node_modules/bootstrap/scss/alert";
@import "../node_modules/bootstrap/scss/progress";
@import "../node_modules/bootstrap/scss/list-group";
@import "../node_modules/bootstrap/scss/close";
@import "../node_modules/bootstrap/scss/toasts";
@import "../node_modules/bootstrap/scss/modal";
@import "../node_modules/bootstrap/scss/tooltip";
@import "../node_modules/bootstrap/scss/popover";
@import "../node_modules/bootstrap/scss/carousel";
@import "../node_modules/bootstrap/scss/spinners";
@import "../node_modules/bootstrap/scss/offcanvas";
@import "../node_modules/bootstrap/scss/placeholders";

// Helpers
@import "../node_modules/bootstrap/scss/helpers";

// Utilities
@import "../node_modules/bootstrap/scss/utilities/api";
// scss-docs-end import-stack
@import "ngx-diff.scss";
@import "../node_modules/@ng-select/ng-select/themes/default.theme.css";
body,
html {
  width: 100%;
  height: 100%;
  display: flex;
}

.tab-pane.fade.active.show {
  height: 100%;
  display: flex;
  width: 100%;
}

.offcanvas-end {
  width: 90vw !important;
  max-width: 90vw !important;
}

.separator {
  background-color: var(--bs-gray-400);
  width: 2px;
  height: 1rem;
  margin: 0;
}

body {
  --68: hsl(0 100% 86%);
  --ink-68: black;
  --67: hsl(26 100% 86%);
  --ink-67: black;
  --66: hsl(51 100% 86%);
  --ink-66: black;
  --65: hsl(77 100% 86%);
  --ink-65: black;
  --64: hsl(100 100% 86%);
  --ink-64: black;
  --63: hsl(130 100% 86%);
  --ink-63: black;
  --62: hsl(150 100% 86%);
  --ink-62: black;
  --61: hsl(180 100% 86%);
  --ink-61: black;
  --60: hsl(210 100% 86%);
  --ink-60: black;
  --59: hsl(230 100% 86%);
  --ink-59: black;
  --58: hsl(260 100% 86%);
  --ink-58: black;
  --57: hsl(280 100% 86%);
  --ink-57: black;
  --56: hsl(310 100% 86%);
  --ink-56: black;
  --55: hsl(330 100% 86%);
  --ink-55: black;
  --54: hsl(0 80% 69%);
  --ink-54: white;
  --53: hsl(26 80% 69%);
  --ink-53: black;
  --52: hsl(51 80% 69%);
  --ink-52: black;
  --51: hsl(77 80% 69%);
  --ink-51: black;
  --50: hsl(100 80% 69%);
  --ink-50: black;
  --49: hsl(130 80% 69%);
  --ink-49: black;
  --48: hsl(150 80% 69%);
  --ink-48: black;
  --47: hsl(180 80% 69%);
  --ink-47: black;
  --46: hsl(210 80% 69%);
  --ink-46: black;
  --45: hsl(230 80% 69%);
  --ink-45: white;
  --44: hsl(260 80% 69%);
  --ink-44: white;
  --43: hsl(280 80% 69%);
  --ink-43: white;
  --42: hsl(0 60% 52%);
  --ink-42: white;
  --41: hsl(26 60% 52%);
  --ink-41: white;
  --40: hsl(51 60% 52%);
  --ink-40: black;
  --39: hsl(77 60% 52%);
  --ink-39: black;
  --38: hsl(100 60% 52%);
  --ink-38: black;
  --37: hsl(130 60% 52%);
  --ink-37: black;
  --36: hsl(150 60% 52%);
  --ink-36: black;
  --35: hsl(180 60% 52%);
  --ink-35: black;
  --34: hsl(210 60% 52%);
  --ink-34: white;
  --33: hsl(230 60% 52%);
  --ink-33: white;
  --32: hsl(260 60% 52%);
  --ink-32: white;
  --31: hsl(280 60% 52%);
  --ink-31: white;
  --30: hsl(310 60% 52%);
  --ink-30: white;
  --29: hsl(330 60% 52%);
  --ink-29: white;
  --28: hsl(0 40% 34%);
  --ink-28: white;
  --27: hsl(26 40% 34%);
  --ink-27: white;
  --26: hsl(51 40% 34%);
  --ink-26: white;
  --25: hsl(77 40% 34%);
  --ink-25: white;
  --24: hsl(100 40% 34%);
  --ink-24: white;
  --23: hsl(130 40% 34%);
  --ink-23: white;
  --22: hsl(150 40% 34%);
  --ink-22: white;
  --21: hsl(180 40% 34%);
  --ink-21: white;
  --20: hsl(210 40% 34%);
  --ink-20: white;
  --19: hsl(230 40% 34%);
  --ink-19: white;
  --18: hsl(260 40% 34%);
  --ink-18: white;
  --17: hsl(280 40% 34%);
  --ink-17: white;
  --16: hsl(310 40% 34%);
  --ink-16: white;
  --15: hsl(330 40% 34%);
  --ink-15: white;
  --14: hsl(0 20% 17%);
  --ink-14: white;
  --13: hsl(26 20% 17%);
  --ink-13: white;
  --12: hsl(51 20% 17%);
  --ink-12: white;
  --11: hsl(77 20% 17%);
  --ink-11: white;
  --10: hsl(100 20% 17%);
  --ink-10: white;
  --9: hsl(130 20% 17%);
  --ink-9: white;
  --8: hsl(150 20% 17%);
  --ink-8: white;
  --7: hsl(180 20% 17%);
  --ink-7: white;
  --6: hsl(210 20% 17%);
  --ink-6: white;
  --5: hsl(230 20% 17%);
  --ink-5: white;
  --4: hsl(260 20% 17%);
  --ink-4: white;
  --3: hsl(280 20% 17%);
  --ink-3: white;
  --2: hsl(310 20% 17%);
  --ink-2: white;
  --1: hsl(330 20% 17%);
  --ink-1: white;
}

.blockHover {
  .elem {
    opacity: 0;
  }
  &:hover {
    .elem {
      opacity: 1;
    }
  }
}

.author-img,
.rounded-circle {
  clip-path: circle(50% at 50% 50%);
  overflow: visible;
  outline: 2px solid rgb(var(--bs-info-rgb));
  outline-offset: 2px;
}
.blur-bg {
  background: #fffc;
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  box-shadow: var(--bs-box-shadow-sm);
}

p:last-child {
  margin-bottom: 0;
}

.btn-outline-primary,
.btn-outline-secondary {
  background: var(--bs-body-bg);
}

/* Print Styles for Cut Lists */
@media print {
  @page {
    size: A4;
    margin: 1cm;
  }

  body {
    font-size: 12pt;
    line-height: 1.5;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
  }

  table {
    page-break-inside: avoid;
    border-collapse: collapse;
  }

  thead {
    display: table-header-group;
  }

  tr {
    page-break-inside: avoid;
  }

  /* Hide non-essential elements when printing */
  nav,
  .navbar,
  .sidebar,
  .btn:not(.btn-print),
  button:not(.btn-print),
  .no-print {
    display: none !important;
  }
}

// body * {
//   outline: 1px solid red;
// }
