$spacer: 0.8rem;
$font-size-base: 0.8rem; // Assumes the browser default, typically `16px`
$font-size-sm: $font-size-base * 0.875;
$font-size-lg: $font-size-base * 1.25;

$h1-font-size: $font-size-base * 1.38;
$h2-font-size: $font-size-base * 1.29;
$h3-font-size: $font-size-base * 1.21;
$h4-font-size: $font-size-base * 1.13;
$h5-font-size: $font-size-base * 1.06;
$h6-font-size: $font-size-base;

$box-shadow: 0 0.1rem 0.3rem rgba(black, 0.15);
$box-shadow-sm: 0 0.125rem 0.25rem rgba(black, 0.075);
$box-shadow-lg: 0 0.1rem 0.5rem rgba(black, 0.175);
$box-shadow-inset: inset 0 1px 2px rgba(black, 0.075);
