$font-size-base: 1rem; // Assumes the browser default, typically `16px`
$font-size-sm: $font-size-base * 0.875;
$font-size-lg: $font-size-base * 1.25;

$h1-font-size: $font-size-base * 1.38;
$h2-font-size: $font-size-base * 1.29;
$h3-font-size: $font-size-base * 1.21;
$h4-font-size: $font-size-base * 1.13;
$h5-font-size: $font-size-base * 1.06;
$h6-font-size: $font-size-base;
