// .json-editor-container {
//   border: 1px solid #dee2e6;
//   border-radius: 0.375rem;
//   overflow: hidden;

//   .editor-content {
//     min-height: 400px;
//     height: 400px;
//   }

//   .editor-fallback {
//     min-height: 400px;
//     font-family: 'Courier New', Courier, monospace;
//     font-size: 14px;
//   }
// }

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
