// Sidebar Toggle Styles (T030)
// Part of the Jira-style hierarchical navigation sidebar feature

.sidebar-toggle-btn {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  background-color: #f4f5f7;
  color: #5e6c84;
  cursor: pointer;
  transition: all 150ms ease;

  &:hover {
    background-color: #ebecf0;
    color: #172b4d;
  }

  &:active {
    background-color: #dfe1e6;
  }

  &.locked {
    background-color: #0052cc;
    color: white;

    &:hover {
      background-color: #0747a6;
    }

    &:active {
      background-color: #05459c;
    }
  }

  i {
    font-size: 14px;
  }
}
